:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  color: rgb(0, 4, 8);
  background-color: rgb(255, 255, 255);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050505;
  padding: 32px;
  color: rgb(255, 255, 255);
}

.form-notes {
  display: flex;
  flex-direction: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#moving-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 1px;
  background-color: #ffe715;
  color: black;
}

.card {
  margin: auto;
  padding: 21px;
  text-align: center;
  width: 180px;
  height: 125px;
  background-color: #fff5f5;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0.5, 0.2));
}

.note-content {
  color: rgb(8, 8, 8);
  padding: 0px;
  margin: 5px;
}

.note-title {
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
}

.dlt-btn {
  margin: 0px;
  width: 100px;
  padding: 5px;
  border-radius: 10px;;
  background-color: #000000;
  color: #fff5f5;
  outline: auto;
}

.dlt-btn:hover {
  background-color: #fff5f5;
  color: #000000;
}